.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


@media only screen and (min-width: 601px) {

  .active {
    background-color: #00a1e1;
  }
  .filtercontainer {
    width: 25%;
    display: block;
    font-family: 'Avenir';

    color: #393939;
    height: auto;
    order: 1;
    flex-grow: 1;
    /*background-color: white;*/
  }
  .collapsibleFilter {
    background-color: #00a1e1;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    /*max-width: 350px;*/
    border: none;
    text-align: left;
    outline: none;

    font-size: 19px;
    transition: 0.2s;
  }
  .collapsibleFilter:hover {
    /*background-color: #00a1e1;*/
    opacity: 0.8;
    font-size: 20px;
  }
  .collapsibleFilterContent {
    max-width: inherit;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  #filterToepassenButton {
    background-color: lightgray;
    color: #444444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
  }
}
