
@media only screen and (min-width: 601px) {

  .active {
    background-color: #b3b3b3;
  }
  .filtercontainer {
    display: block;
    font-family: 'Avenir';
    min-width: 350px;
    max-width: 350px;
    height: auto;
    order: 1;
    flex-grow: 1;
    /*background-color: white;*/
  }
  .collapsibleFilter {
    background-color: #00a1e1;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    max-width: 350px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 501;
  }
  .collapsibleFilter:hover {
    background-color: #00a1e1de;
  }
  .collapsibleFilterContent {
    max-width: inherit;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  #filterToepassenButton {
    background-color: lightgray;
    color: #444444;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
  }
}
