header {
  padding: 1px;
  background-color: #fff;
  width: 100%;
  height: 65px;
}

header .header-brand {
  text-shadow: 2px 2px 5px #ddd;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0px 0px 0px 0px;
  float: left;
}

header nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0px solid #e7e7e7;
}

header nav ul li {
  display: block;
  text-align: center;
  list-style: none;
  padding: 0 16px;
  opacity: 1;
}
/* header nav ul li .toevoegL:hover {
  background-color: #00a1e1;
  color: white;
} */

/* header nav ul li .toevoegL:hover:not(.toevoegL) {
  background-color: #03a0d2;
} */
header .toevoegL {
  color: black;
  height: 100%;
  float: right;
  margin: 5px 5px;
  border: none;
  outline: none;
}

header .active, a.toevoegL:hover {
  color: white;
  background-color: #00a1e1;
}

header nav ul li a {
  font-family: 'Avenir';
  font-weight: 500;
  font-size: 19px;
  color: #111;
  text-decoration: none;
  height: 50px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
}


@media only screen and (max-width: 550px) {

  header {
    height: auto;
    padding: 0px;
  }

  header nav ul {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px ;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  header nav ul li {
    display: flex;
    flex-direction: column;
    margin: 0px 93px 0px 99px;
    text-align: center;
    list-style: none;
    padding: 0 16px;
    opacity: 1;
  }

}
