.kenniskaartencontainer {
  background-color: #f1f1f1;
   /*margin: 6px 0 6px 0;*/
}
body {
  font-family: 'Avenir', sans-serif;
}


.kenniskaart {
  border-style: solid;
  border-width: 1px;
  border-color: #E1E1E1;
  margin: 5px 15px;
  padding: 1px 3px 1px 3px;
  background-color: white;
  box-shadow: 5px 5px 2px lightgray;
}

.kenniskaart-datum {
  font-family: "Avenir", sans-serif;
  font-size: 13px;
  color: red;
}

.kenniskaart-titel {
  font-family: "Avenir", sans-serif;
  padding: 3px;
  margin: 0;
}

.kenniskaart-what {
  word-break: break-word;
  padding: 0px 5px 3px 5px;
}

.kenniskaart-tags {
  background-color: #b8e7ff;
  padding: 2px 7px 2px 7px;
  margin: 1px;
  min-width: 15px;
  max-width: 95%;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  word-break: break-all;
}

@media only screen and (min-width: 601px) {
  .popupContent {
    word-wrap: break-word;
  }
  .kenniskaartencontainer {
    order: 2;
    flex-grow: 2;
    display: flex;
    flex-direction: column;

  }
  .kenniskaart {
    text-align: left;
    height: 130px;
    min-width: 550px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
  }
  .kenniskaart-foto {
    float: left;
    height: 130px;
  }
  .kenniskaart-datum {
    padding: 20px 0 0 0;
    position: absolute;
    right: 15px;
    top: 0;
  }
   .kenniskaart-titel .kenniskaart-what {
     position: absolute;
     left: 0;

   }
   .kenniskaart-tags {
     position: relative;
     bottom: 0;
   }
   .kenniskaart-what {
     overflow: hidden;
     height: 90px;
   }
}


@media only screen and (max-width: 550px) {

  .kenniskaart .kenniskaart-foto {
    width: 100%;
    height: 130px;
  }
  body, .toevoegBody, .toevoegUp, .toevoegDown, fieldset, Button{
    width: 100%;
    padding: 0px;
  }
}
