/*Desktop*/
#popupContainer {
    display: none;
}
#popupImageContainer {
    position: relative;
    width: 100%;
}
#popupFoto { /*Make image responsive*/
    width: 100%;
    height: 100%;
}
#popupCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  padding: 0px 5px 0px 5px;
  margin-bottom: 10px;
  width: 17px;
  opacity: 0.9;
	font-size: 15px;
  transition: 0.3s;
}
#popupCloseButton:hover {
  background-color: black;
  color: white;
}

#datum {
  color: red;
  float: right;
  width: 85%;
}

.stuk1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-image: url(https://haririjal.com.np/wp-content/uploads/2018/12/gallery_1245283-300x300.png);
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

.stuk2 {
  grid-column: 6 / span 1;
  grid-row: 1;
}

.stuk3 {
  grid-column: 3 / span 2;
  grid-row: 1;
  position: relative;
  top: 25px;
}

.stuk4 {
  grid-column: 6 / span 1;
  grid-row: 1;
  position: relative;
  top: 25px;
}

.stuk5 {
  grid-column: 5 / span 1;
  grid-row: 1;
  position: relative;
  top: 25px;
}

.stuk6 {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.stuk7 {
  grid-column: 2 / span 1;
  grid-row: 2;
}




.popupContent {
    padding: 0px;
    margin: 0px 12%;
}

.kaartUp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-column-gap: 2%;
  padding: 12px 0px;
  margin-bottom: 16px;
  background-color: #ffffff;
  width: 100%;
}

.kaartDown {
  padding: 16px;
  background-color: #ffffff;
  margin-bottom: 16px;
}

#popupContainer {
  /*Er voor zorgen dat de container over de gehele pagina rendered*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  /*normale css*/
  width: 100%;
  height: 100%;
  padding: 90px 0 0 0;
  overflow: auto; /* er voor zorgen dat scrollen werkt */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.popupContent {
    /*popup in het midden zetten*/
    position: relative;
    margin: auto;
    width: 75%;
    min-height: 80%;
}

#popupTitel {
  font-size: 136%;
  text-align: -webkit-center;
}
#popupDatum {
  float: right;
  color: #ef1a28;
}
.verwijderB {
  float: left;
  background-color: #ed0010;
  transition: 0.4s;
}
.verwijderB:hover {
  opacity: 0.6;
}

#popupVerwijderenFoto {
  max-width: 100%;
}
.kopjes {
  font-weight: 700;
}



/*Mobile*/
@media only screen and (max-width: 600px) {
    /*To be done*/
}
