/*body*/
/*-----------------------------------*/
body {
  font-family: 'Avenir',
  Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  max-width: 100%;
  background-color: #e8eaed;
}
* {
  box-sizing: border-box;
}

/* Upper body of the kenniskaart */
.toevoegUp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-column-gap: 3%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #ffffff;
  width: 100%;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-image: url(https://haririjal.com.np/wp-content/uploads/2018/12/gallery_1245283-300x300.png);
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 416px;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.item4 {
  grid-column: 3 / span 2;
  grid-row: 1;
}

.item5 {
  grid-column: 5 / span 1;
  grid-row: 1;
  position: relative;
}



/* Full-width input fields */
input[type=text], input[type=date], textarea, select {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=date]:focus, textarea:focus,select:focus{
  background-color: #F9F9F9;
  outline: none;
}

/* Set a style for all plus buttons */
.plusButton {
  background-color: transparent;
  color: #1daad7;
  padding: 0px 10px;
  margin-bottom: 16px ;
  border: none;
  cursor: pointer;
  width: 55px;
  opacity: 0.9;
	font-size: 55px;

}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */

.Button {
  width: 90%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.toevoegenB {
  background-color: #03A0D2;
  float: right;
}

/* Add padding to container elements */
.toevoegBody {
  padding: 16px;
  background-color: #F3F3F3;
}

.hboiS {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
}
.selectL {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.toevoegDown {
  padding: 16px;
  background-color: #ffffff;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side1 {
  flex: 80%;
  background-color: #b4b6ba;
  padding: 0px;
}

.side2 {
  flex: 20%;
  background-color: #698bce;
  padding: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}
tr:hover {
  opacity:5;
  back-ground: blue;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

/*small screens*/
/* Change styles for all on extra small screens */
@media screen and (max-width: 1371px) {
  body {
    max-width:100%;
  }
  .item1, .item3, .item4, .item5 {
    width: 100%;
  }
  header .navbar, #inloggen, .navmenu {
    display: flex;
    flex-direction: column;
  }
  * {
    max-width: 100%;
    text-align: justify;
  }

}

@media screen and (max-width: 881px) {
  body {
    max-width: 100%;
  }
  .toevoegBody {
    margin-bottom: 10px;
  }
  header .navbar, #inloggen, .navmenu {
    display: flex;
    flex-direction: column;
  }
  .toevoegUp {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    width: 100%;
  }
  .item1, .item3, .item4, .item5 {
    flex-direction: column;
    width: 100%;
  }
}
