@font-face {
  font-family: 'Avenir-Book';
  src: url('/css/webfont/Avenir-Book.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Book';
  src: url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('/css/webfont/Avenir-Book.ttf') format('truetype'), url('/css/webfont/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal; font-style: normal;
}
