.searchContainer {
  width: 35%;
  height: 45px;
  background-color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /*overflow: hidden;*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.zoekbalk {
  width: 90%;
  font-size: 18px;
  text-align: left;
  padding: 5px;
  margin: 0px;
  border: none;
  background: #fff;
}

.zoekButton {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  opacity: 0.6;
}

.zoekButton:hover {
  opacity: 1;
}

@media only screen and (max-width: 550px) {

  .index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
  }
  .searchContainer {
    width: 100%;
  }
}
