#searchContainer {
  width: 35%;
  height: 45px;
  background-color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /*overflow: hidden;*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#searchButton {
  width: 10%;
  height: inherit;
  background-color: white;
  float: left;
}

#searchButton img {
  display: block;
  margin: auto;
  height: 40px;
  width: auto;
  /*text-align: center;*/
}

#searchBar {
  flex-grow: 5;
  padding-left: 15px;
  height: 43px; /* compenseren voor twee pixels die uit het niets op komen dagen */
}

.zoekbalk {
  font-family: 'Avenir-Book',sans-serif;
  font-size: 18px;
  border: 0 solid #fff;
  text-align: left;
}
