.searchContainer {
  width: 35%;
  height: 45px;
  background-color: #f1f1f1;
  background-color: #fff;
  position: absolute;
  top: 50%;
  top: 24%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /overflow: hidden;/
  display: inline-flex;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.container1 {
  display: block;
  background-color: #e6302b;
  width: 100%;
  height: 50%;
  mix-blend-mode: multiply;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  overflow: visible;
  position: unset;
}
.zoekButton {
  background-color: white;
  background: #00a1e1;
  border: none;
  color: black;
  color: white;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 120px;
  opacity: 1;
  transition: 0.4s;
}

.zoekButton:hover {
  opacity: 0.8;
}

.zoekbalk {
  background: white;
  border: none;
  width: 100%;
  height: 45px;
  padding: 1px;
  margin: 0px;
}
