@media only screen and (min-width: 601px) {
  .filtercontainer {
      min-width: 300px;
      height: auto;
      border: 2px solid red;
      order: 1;
      flex-grow: 1;
  }
    .collapsibleFilter {
        background-color: lightgray;
        color: #444444;
        cursor: pointer;
        padding: 16px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 19px;
    }
    .collapsibleFilterContent {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
}