.kenniskaartencontainer {
  background-color: #f1f1f1;
   /*margin: 6px 0 6px 0;*/
}

.kenniskaart {
  border-style: solid;
  border-width: 1px;
  border-color: #E1E1E1;
  margin: 5px 15px 5px 15px;
  padding: 1px 3px 1px 3px;
  /*border: #111111;*/
  background-color: white;
  box-shadow: 5px 5px 2px lightgray;
}

.kenniskaart .kenniskaart-datum {
  /*font-family: "Lucida Sans", sans-serif;*/
  font-size: 13px;
  color: red;
}

.kenniskaart .kenniskaart-titel {
  /*font-family: "Lucida Sans", sans-serif;*/
  padding: 3px;
}

.kenniskaart .kenniskaart-what {
  word-break: break-word;
  padding: 0px 5px 3px 5px;
}

.kenniskaart .kenniskaart-tags {
  background-color: #b8e7ff;
  padding: 2px 7px 2px 7px;
  margin: 1px;
  min-width: 15px;
  max-width: 95%;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  word-break: break-all;
}

@media only screen and (min-width: 601px) {
  .kenniskaart-foto {
    float: left;
    
  }

}


@media only screen and (max-width: 600px) {
  .kenniskaart .kenniskaart-foto {
    width: 100%;
    height: 130px;
  }
}