/* My code */

*{
  decoration:none;
}


body {
  background-color: #f3f3f3;
  margin: 0;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-brand {
  font-family: catamaran;
  font-size: 24px;
  font-weight: 900;
  text-shadow: 2px 2px 5px #ddd;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 20px 0
}
header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: catamaran;
  font-size: 16px;
  color: #111;

}

/*INDEX*/

.index-banner {
  width: 100%;
  height: calc(100vh - 400px);
  background-image: url("../css/fotos/index-books.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-banner h2 {
  font-family: catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  color: #ff0800;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

/* .index-banner2 {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #eee;
  display: table;
} */
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.index-links {
  margin: 0 0 0 0;
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}
.index-links:selection {
  background-color: green;
  color: yellow;
}
input:hover[type="text"] {
  background: #aefffb;
}

.zoekveld {
  padding: 0 4px 0 0;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
}

.mySearch {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 10px 0px 10px 10px;
  border: 0px solid #fff;
  text-align: left;
}

footer {
  width: calc(100% - 80px);
  height: 300px;
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #333333;
}

.footer-main {
  padding: 40px 0 40px 0;
  margin: 20px 0 0 0;
  overflow: hidden;
}

footer ul {
  float: left;
  width: fit-content;
  padding-left: 20px;
}
footer ul li {
  display: block;
  list-style: none;
  border-style: solid;
  border-color: #A3A3A3;
  border-width: 1px 0 1px 0;
  padding: 15px 20px 15px 20px;
}
footer ul li a {
  width: 100%;
  font-family: catamaran, serif;
  color: #fff;
  line-height: 30px;

}
.footer-sm {
  width: 60px;
  float: right;
  padding-top: inherit;
}
.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

.toevoegenForm {
  text-align: center;

}

/* kenniskaarten */

.kenniskaartencontainer {
  background-color: #f1f1f1;
  /* margin: 6px 0 6px 0; */
}
.kenniskaart {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin: 5px 15px 5px 15px;
  padding: 1px 3px 1px 3px;
  border: #111111;
  background-color: white;
  box-shadow: 5px 5px 2px lightgray;
}

.kenniskaart .kenniskaart-foto {
  width: 100%;
  height: 130px;
}
.kenniskaart .kenniskaart-datum {
  font-family: "Lucida Sans", sans-serif;
  font-size: 13px;
  color: red;
}
.kenniskaart .kenniskaart-titel {
  font-family: "Lucida Sans", sans-serif;
  padding: 3px;
}
.kenniskaart .kenniskaart-what {
  word-break: break-word;
  padding: 0px 5px 3px 5px;
}

.kenniskaart .kenniskaart-tags {
  background-color: #b8e7ff;
  padding: 2px 7px 2px 7px;
  margin: 1px;
  min-width: 15px;
  max-width: 95%;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  word-break: break-all;
}
#testknopje {
  background-color: inherit;
  margin: auto;
}



/* .index-links div {
  font-family: catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  color: #ff0800;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
} */


/* Style the search box */


/*
.boxje, button, input {
	box-sizing: border-box;
  	width: 100%;
}
	.row {
  	flex-direction: column;
	}
	.col-3, .col-9 {
		width: 100%;
	}


	.menu li {
		font-style: oblique;
  	font-weight: bold;
  	font-variant-caps: petite-caps;
	}
	body {
  	background-color: lightblue;
  	margin: 0%;
}
[class*="col-"] {
	float: left;
	padding: 0px;
}
.header {
	padding: 15px;
}
.column {
	padding: 20px;
} */


@media only screen and (min-width: 601px) {
  header .grids {
    margin: 0;
    text-align: left;
    padding: 0px 20px 0 30px;
    border-right: 3px solid #111;
    float: left
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
