*{
  text-decoration: none;
}

/*.boxje {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.h1 {
	text-align: center;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
	background-color: #9933cc;
  	color: #ffffff;
  	padding: 15px;
}

.menu ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

.menu li {
  	padding: 8px;
  	margin-bottom: 7px;
  	background-color: #33b5e5;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  	background-color: #0099cc;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}*/

/* Mobile first */
@media only screen and (max-width: 600px) {
  body {
    background-color: #f3f3f3;
    margin: 0%;
  }

  header {
    background-color: #fff;
    width: 100%;
    height: 100px;

  }
  header .header-brand {
    font-family: catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-shadow: 2px 2px 5px #ddd;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
  }
  header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  header nav ul li {
    display: inline-block;
    float: middle ;
    list-style: none;
    padding: 0 16px;

  }

  header nav ul li a {
    font-family: catamaran;
    font-size: 16px;
    color: #111;

  }

  /*INDEX*/

  .index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("banner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
  }
  .vertical-center {
    display: table-cell;
    vertical-align: middle;
  }

  .index-banner h2 {
    font-family: catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    color: #ff0800;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
  }


	/*.boxje, button, input {
		box-sizing: border-box;
    	width: 100%;
	}
  	.row {
    	flex-direction: column;
  	}
  	.col-3, .col-9 {
  		width: 100%;
  	}


  	.menu li {
  		font-style: oblique;
    	font-weight: bold;
    	font-variant-caps: petite-caps;
  	}
  	body {
    	background-color: lightblue;
    	margin: 0%;
	}
	[class*="col-"] {
		float: left;
		padding: 0px;
	}
	.header {
		padding: 15px;
	}
	.column {
		padding: 20px;
	}*/

	}
