#zoekveld {
  width: inherit;
  height: inherit;
  overflow: hidden;
  display: flex;
}

.mySearch {
  font-size: 18px;
  border: 0 solid #fff;
  text-align: left;
}

#searchBar {
  padding-left: 15px;
  width: inherit;
  height: inherit;
  float: right;
}
#searchButton {
  width: auto;
  height: inherit;
  background-color: white;
  float: left;
}
#searchButton img {
  display: block;
  margin: auto;
  height: 40px;
  width: auto;
  text-align: center;
}