#searchContainer {
  width: 35%;
  height: 45px;
  background-color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.zoekbalk {
  font-size: 18px;
  border: 0 solid #fff;
  text-align: left;
}

#searchBar {
  padding-left: 15px;
  width: inherit;
  height: inherit;
  float: right;
}

#searchButton {
  width: auto;
  height: inherit;
  background-color: white;
  float: left;
}

#searchButton img {
  display: block;
  margin: auto;
  height: 40px;
  width: auto;
  text-align: center;
}